<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cleanedDataPath" value=".\data\cleaned_data.txt"/>
    <add key="reversedCleanedDataPath" value=".\data\cleaned_data_reverse.txt"/>
    <add key="fastaLinePath" value=".\data\fasta_line.txt"/>
    <add key="geneLinePath" value=".\data\gene_line.txt"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>