<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="cleanDataHomFile" value="cleaned_data_hom.txt"/>
    <add key="cleanDataReverseHomFile" value="cleaned_data_reverse_hom.txt"/>
    <add key="bacteriaLineFile" value="bacteria_line.txt"/>
  </appSettings>
  <runtime>
    <assemblyBinding>
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
</configuration>